
#nme{
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Courier New';
    padding: 130px;
    text-shadow: 40px;
    color: rgb(206, 197, 197) ;
}

p {
    position: relative;
    font-family:'Courier New' ;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #f8f8f8, #c9b1b1, #b6b6b6);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }


  .nav{
    margin-left: 1188px;
  }


  .btn-shine {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    white-space: nowrap;
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  
  h1{
    margin-top:-1.1%;
    margin-left: 20%;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }